<nav
  class="navbar navbar-expand-md navbar-dark bg-dark main-navbar justify-content-between main-navbar pt-3 d-block"
>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row justify-content-between">
        <div class="col d-flex align-items-center">
          <img
            class="navbar-image"
            src="{{ imagen }}"
            alt="user-image"
            width="37px"
            height="37px"
          />
          <h6 class="m-0 ml-2 user-name">{{ nombre }}</h6>
        </div>
        <div
          class="col-auto col-sm-auto col-md-auto col-lg-auto d-flex align-items-center"
        >
          <i class="fa fa-user fa-lg" style="color: #ffff"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <input
        class="form-control mt-3 navbar-input"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
  </div>
</nav>
